@{
    ViewData["Title"] = "Schedule";
}

<div class="text-center">
    <h3 class="display-4">Schedule</h3>
    <ol>
        <li>What is Snyk?</li>
        <li>
            Snyk Products
            <ol type="a">
                <li>Snyk Code</li>
                <li>Snyk Open Source</li>
                <li>Snyk Container</li>
                <li>Snyk IaC</li>
            </ol>
        </li>
        <li>How does it work?</li>
        <li>Pricing & Plans</li>
    </ol>
</div>