name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . --file SnykDemoWebApp/Dockerfile --tag andrestollatscs/snykdemowebapp:latest
    - name: Tag with version tag
      run: docker image tag andrestollatscs/snykdemowebapp:latest andrestollatscs/snykdemowebapp:$(date +%s)
    - name: Log in to Docker Hub
      uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_ACCESS_TOKEN }}
    - name: Push image
      run: docker image push --all-tags andrestollatscs/snykdemowebapp
